* {
  box-sizing: border-box;
}

.column-layout {
  border: 1px solid red;
  margin: 1px;
  float: left;
  width: 20%;
}

@media screen and (max-width: 1300px) {
  .column-layout {
    width: 25%;
  }
}

@media screen and (max-width: 1024px) {
  .column-layout {
    width: 50%;
  }
}

@media screen and (max-width: 640px) {
  .column-layout {
    width: 100%;
  }
}