* {
  box-sizing: border-box;
}

nav {
  overflow: hidden;
  padding: 10px;
  background-color: #555555;
}

nav a {
  float: left;
  display: block;
  color: white;
  margin-left: 12px;
  text-decoration: none;
}

nav a:hover {
  background-color: #777575;
}

@media screen and (max-width: 640px) {
  nav a {
    float: none;
    width: 100%;
  }
}