* {
  box-sizing: border-box;
}

.flex-layout {
  display: flex;
  flex-direction: row;
}

.flex-item {
  color: white;
  background-color: #555555;
  flex: 25%;
  margin: 1px;
}

@media screen and (max-width: 768px) {
  .flex-layout {
    flex-direction: column;
  }
}