body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #ffffff;
}

header {
    text-align: center;
    padding: 15px;
    background-color: blueviolet;
    color: white;
}

.main-section {
    text-align: center;
    padding: 20px;
}

.profile-box {
    background-color: blueviolet;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
}

.profile-img {
    margin-top: 20px;
    height: 450px;
    width: 380px;
    border-radius: 10px;
}

.social-box {
    background-color: blueviolet;
    padding: 10px;
    margin-top: 20px;
    border-radius:10px;
}

.social-box img {
    height: 50px;
    width: 50px;
    margin: 0 10px;
}

.small-info {
    text-align: center;
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 15px;
    color:gray;
    margin-top: 20px;
}